<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=640" />
    <meta charset="UTF-8" />
    <title>チェックボックス | チョイ足しVue.jsでサクッと動的要素</title>
    <link rel="stylesheet" href="../assets/style/style.css" />
  </head>
  <body>
    <div class="contents">
      <h1>アンケート</h1>
      <p>興味のある技術に3つ以上チェックを入れてください</p>
      <div id="app">
        <form>
          <div class="checkBoxList">
            <label
              ><input
                type="checkbox"
                value="react"
                v-model="checkBoxState"
              />React</label
            >
            <label
              ><input
                type="checkbox"
                value="angular"
                v-model="checkBoxState"
              />Angular</label
            >
            <label
              ><input
                type="checkbox"
                value="vuejs"
                v-model="checkBoxState"
              />Vue.js</label
            >
            <label
              ><input
                type="checkbox"
                value="jquery"
                v-model="checkBoxState"
              />jQuery</label
            >
            <label
              ><input
                type="checkbox"
                value="nextjs"
                v-model="checkBoxState"
              />Next.js</label
            >
            <label
              ><input
                type="checkbox"
                value="nuxtjs"
                v-model="checkBoxState"
              />Nuxt.js</label
            >
            <label
              ><input
                type="checkbox"
                value="typescript"
                v-model="checkBoxState"
              />TypeScript</label
            >
          </div>
          <button
            type="button"
            :disabled="!isButtonEnabled"
            class="checkBoxList_button"
          >
            送信
          </button>
          <p>※どこにもデータは送信されません。</p>
        </form>
      </div>
      <p class="back"><a href="../">目次に戻る</a></p>
    </div>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
        }
      }
    </script>
    <script type="module">
      import { computed, createApp, ref } from "vue";
      const app = createApp({
        setup() {
          // チェックボックスの状態です
          const checkBoxState = ref([]);

          // ボタンが押せるかどうか
          const isButtonEnabled = computed(
            () => checkBoxState.value.length >= 3
          );
          return { checkBoxState, isButtonEnabled };
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
